/* classes css des alignments */

.alg_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alg_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.alg_row_bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}