/* classes css des containers */

.ctn_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgba(210,200,25,0.8);
    border: 2px solid rgba(210,200,25,1);
    border-radius: 10px;
}
.ctn_column_center:hover {
    border: 2px solid white;
}
.ctn_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgba(210,200,25,0.8);
    border: 2px solid rgba(210,200,25,1);
    border-radius: 10px;
}
.ctn_row_center {
    border: 2px solid white;
}
